<%= link_to gravatar_for(current_user, size: 50), current_user %>
<%= current_user.name %><br>
<span><%= pluralize(current_user.microposts.count, "件投稿") %></span>
(<span><%= link_to "詳細", current_user %></span>)
